# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# macOS-specific
.DS_Store

# MATLAB
*.m~

# pGDS-specific
    # Contains font .ttf
fonts/
    # Atom-related
node_modules/
    # Compiled MATLAB bridge/mex files, except for the generating files
mex/*
!mex/build
mex/build/mex_bridge.cpp
mex/build/.DS_Store
    # Unfinished OpenGL stuff
macOS OpenGL/

package-lock.json

    # "Proprietary" devices designs
*devices.cpp
*devices.hpp
*devices.m
